<div *ngIf="!loginparams.islogin">
  <app-login [showLogin]="loginparams"></app-login>
</div>

<div *ngIf="loginparams.islogin" class="sidebar-container">
  <button (click)="logout()" class="logout-btn">Logout</button>
<div>
  <h3>Hey: {{loginUserInfo.name}}  
    <img [src]="loginUserInfo.avatar" style="height: 200px;width: 200px;" /></h3>
 
</div>
  <div class="nav-buttons">
    <button (click)="navigateTo('studentList')" class="nav-btn">
      Students
    </button>
    <button (click)="navigateTo('teacherList')" class="nav-btn">
      Teachers
    </button>
    <button (click)="navigateTo('courseList')" class="nav-btn">Courses</button>
    <button (click)="navigateTo('semesterList')" class="nav-btn">Semesters</button>

  </div>
</div>
