
<form (ngSubmit)="Onsubmit()" class="student-form">
    <div class="form-group">
      <label for="stId">course Id</label>
      <input
        type="number"
        [(ngModel)]="courseForm.id"
        class="form-control"
        id="stId"
        name="stId"
        required
      />
    </div>
    <div class="form-group">
      <label for="name">course Name</label>
      <input
        type="text"
        [(ngModel)]="courseForm.name"
        class="form-control"
        id="name"
        name="name"
        required
      />
    </div>

    <div class="form-group">
      <label for="name">description   </label>
      <input
        type="text"
        [(ngModel)]="courseForm.description"
        class="form-control"
        id="description"
        name="description"
        required
      />
    </div>
  
    <button type="submit" class="btn btn-primary submit-btn">Submit</button>
  </form>
   
 
 
 


<div>
    {{courseForm | json}} 
</div>

