<h1 class="table-title">{{ title }}</h1>
<button (click)="navigateTo('add-teacher')" class="nav-btn">Add teacher</button>
<button (click)="navigateTo('')" class="nav-btn">Home</button>
<table class="table table-striped student-table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let teacher of teachers" class="table-row">
      <td>{{ teacher.id }}</td>
      <td>{{ teacher.name }}</td>
      <td>
        <!--<button
          (click)="navigateTo('edit-teacher', teacher.id)"
          class="action-btn"
        >
          Edit
        </button>-->
        <button (click)="deleteTeacher(teacher.id)" class="action-btn delete">
          Delete
        </button>
        <button
          (click)="navigateTo('teacher', teacher.id)"
          class="action-btn view"
        >
          View
        </button>
      </td>
    </tr>
  </tbody>
</table>
