<h1 class="table-title">{{ title }}</h1>
<button (click)="navigateTo('add-course')" class="nav-btn">Add course</button>
<button (click)="navigateTo('')" class="nav-btn">Home</button>

<table mat-table [dataSource]="courses" >
  <ng-container matColumnDef="id"> 
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let course"> {{course.id}} </td>
  </ng-container>
  <ng-container matColumnDef="name"> 
  <th mat-header-cell *matHeaderCellDef> Name. </th>
  <td mat-cell *matCellDef="let course"> {{course.name}} </td>
</ng-container>
<ng-container matColumnDef="description"> 
<th mat-header-cell *matHeaderCellDef> description... </th>
<td mat-cell *matCellDef="let course"> {{course.description}} </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<!-- <table class="table table-striped student-table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of courses" class="table-row">
      <td>{{ course.id }}</td>
      <td>{{ course.name }}</td>
      <td>{{ course.description }}</td>
      <td>
        <button
          (click)="navigateTo('edit-course', course.id)"
          class="action-btn"
        >
          Edit
        </button>
       <button (click)="delete(course)" class="action-btn" >
        Delete {{course.id}}
       </button>


        <button
          (click)="navigateTo('course', course.id)"
          class="action-btn view"
        >
          View
        </button>
      </td>
    </tr>
  </tbody>
</table> -->
