 <h1> {{title}} </h1>


    <table class="table table-striped">
    <thead>
        <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th></th>
        </tr>
        </thead>    
    <tbody>
         
        <tr *ngFor="let student of students" >
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.email}}</td>
            <td></td>
        </tr>
        
    </tbody>
    </table>




    <!-- <tbody>
        <tr *ngFor="let student of students">
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.email}}</td>
            <td>
                <a [routerLink]="['/student', student.id]">View</a>
            </td>
        </tr>
    </tbody> -->