<button mat-raised-button color="primary" (click)="navigateTo('studentList')">
  Back
</button>

<form [formGroup]="studentForm" (ngSubmit)="Onsubmit()" class="student-form">
  <div class="form-row">
    <mat-form-field appearance="outline" class="form-group half-width">
      <mat-label>Student Id</mat-label>
      <input
        matInput
        type="number"
        formControlName="id"
        id="id"
        [readonly]="editMode"
        required
      />
      <mat-error
        *ngIf="studentForm.get('id')!.invalid && studentForm.get('id')!.touched"
      >
        Student ID is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-group half-width">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" id="name" required />
      <mat-error
        *ngIf="
          studentForm.get('name')!.invalid && studentForm.get('name')!.touched
        "
      >
        Name is required and must be at least 3 characters long.
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="outline" class="form-group half-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        formControlName="email"
        id="email"
        required
      />
      <mat-error
        *ngIf="
          studentForm.get('email')!.invalid && studentForm.get('email')!.touched
        "
      >
        Valid email is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-group half-width">
      <mat-label>Phone</mat-label>
      <input
        matInput
        type="text"
        formControlName="phoneNumber"
        id="phoneNumber"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-group half-width">
      <mat-label>City</mat-label>
      <input matInput type="text" formControlName="city" id="city" />
    </mat-form-field>
  </div>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="studentForm.invalid"
    class="submit-btn"
  >
    Submit
  </button>
</form>
