<button (click)="navigateTo('studentlist')" class="nav-btn">Back</button>

<form [formGroup]="studentForm" (ngSubmit)="Onsubmit()" class="student-form">
  <div class="form-group">
    <label for="stId">Student Id</label>
    <input
      type="number"
      formControlName="stId"
      class="form-control"
      id="stId"
      required
      [readonly]="editMode"
    />
    <div
      *ngIf="
        studentForm.get('stId')!.invalid && studentForm.get('stId')!.touched
      "
    >
      <small class="text-danger">Student ID is required.</small>
    </div>
  </div>

  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      formControlName="Name"
      class="form-control"
      id="name"
      required
    />
    <div
      *ngIf="
        studentForm.get('Name')!.invalid && studentForm.get('Name')!.touched
      "
    >
      <small class="text-danger"
        >Name is required and must be at least 3 characters long.</small
      >
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      formControlName="email"
      class="form-control"
      id="email"
      required
    />
    <div
      *ngIf="
        studentForm.get('email')!.invalid && studentForm.get('email')!.touched
      "
    >
      <small class="text-danger">Valid email is required.</small>
    </div>
  </div>

  <div class="form-group">
    <label for="phone">Phone</label>
    <input
      type="text"
      formControlName="phone"
      class="form-control"
      id="phone"
    />
  </div>

  <button
    type="submit"
    class="btn btn-primary submit-btn"
    [disabled]="studentForm.invalid"
  >
    Submit
  </button>
</form>

<div>
  <div class="form-group">
    <label for="stId">Student Id</label>
    {{ studentForm.value.stId }}
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    {{ studentForm.value.Name }}
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    {{ studentForm.value.email }}
  </div>
  <div class="form-group">
    <label for="phone"> </label>
  </div>
</div>
