<h1 mat-title>{{ title }}</h1>
<button mat-raised-button color="primary" (click)="navigateTo('add-student')">
  Add Student
</button>
<button mat-raised-button (click)="navigateTo('')">Home</button>

<div style="float: right; padding: 10px">
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="test"
      (keyup)="search()"
      placeholder="Search Student"
    />
  </mat-form-field>
</div>

<table mat-table [dataSource]="students" class="mat-elevation-z8">
  <ng-container matColumnDef="stId">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let student">{{ student.stId }}</td>
  </ng-container>

  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let student">{{ student.Name }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let student">{{ student.email }}</td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef>Phone</th>
    <td mat-cell *matCellDef="let student">{{ student.phone }}</td>
  </ng-container>
  <ng-container matColumnDef="actions" class="actions-column">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let student">
      <button
        mat-icon-button
        color="accent"
        class="action-button"
        (click)="navigateTo('edit-student', student.stId)"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        color="warn"
        class="action-button"
        (click)="deleteStudent(student.stId)"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button
        mat-icon-button
        class="action-button"
        (click)="navigateTo('student', student.stId)"
      >
        <mat-icon>visibility</mat-icon>
      </button>
      <button
        mat-icon-button
        class="action-button"
        (click)="navigateTo('add-address', student.stId)"
      >
        <mat-icon>Addresses</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
