<h1 class="table-title">{{ title }}</h1>
<button (click)="navigateTo('add-student')" class="nav-btn">Add Student</button>
<button (click)="navigateTo('')" class="nav-btn">Home</button>
<table class="table table-striped student-table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students" class="table-row">
      <td>{{ student.stId }}</td>
      <td>{{ student.Name }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.phone }}</td>
      <td>
        <button
          (click)="navigateTo('edit-student', student.stId)"
          class="action-btn"
        >
          Edit
        </button>
        <button (click)="deleteStudent(student.stId)" class="action-btn delete">
          Delete
        </button>
        <button
          (click)="navigateTo('student', student.stId)"
          class="action-btn view"
        >
          View
        </button>
        <button
          (click)="navigateTo('add-address', student.stId)"
          class="action-btn view"
        >
          Addresses
        </button>
      </td>
    </tr>
  </tbody>
</table>
