<div>
    <div>
        <label>User Id:</label>
        <label>{{userObj.id}}</label>
    </div>
    <div>
        <label>User Name:</label>
        <label>{{userObj.name}}</label>
    </div>
    <div>
        <label>User email:</label>
        <label>{{userObj.email}}</label>
    </div>
    <hr>
    <h3>User Address:</h3>
    <div>
        <label>street:</label>
        <label>{{userObj.address?.street}}</label>
    </div>
    <div>
        <label>suite:</label>
        <label>{{userObj.address?.suite}}</label>
    </div>
    <div>
        <label>city:</label>
        <label>{{userObj.address?.city}}</label>
    </div>
</div>

