<button (click)="navigateTo('teacherList')" class="nav-btn">Back</button>

<form (ngSubmit)="Onsubmit()" class="student-form">
  <div class="form-group">
    <label for="stId">Student Id</label>
    <input
      type="number"
      [(ngModel)]="teacherForm.id"
      class="form-control"
      id="stId"
      [readonly]="editMode"
      name="stId"
      required
    />
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      [(ngModel)]="teacherForm.name"
      class="form-control"
      id="name"
      name="name"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary submit-btn">Submit</button>
</form>

<div>
  {{ teacherForm | json }}
</div>
