<button (click)="navigateTo('teacherList')" class="nav-btn">Back</button>

<form [formGroup]="teacherForm" (ngSubmit)="Onsubmit()" class="teacher-form">
  <div class="form-group">
    <label for="id">Teacher Id</label>
    <input
      type="number"
      formControlName="id"
      class="form-control"
      id="id"
      required
      [readonly]="editMode"
    />
    <div
      *ngIf="teacherForm.get('id')!.invalid && teacherForm.get('id')!.touched"
    >
      <small class="text-danger">Teacher ID is required.</small>
    </div>
  </div>

  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      formControlName="name"
      class="form-control"
      id="name"
      required
    />
    <div
      *ngIf="
        teacherForm.get('name')!.invalid && teacherForm.get('name')!.touched
      "
    >
      <small class="text-danger"
        >Name is required and must be at least 3 characters long.</small
      >
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary submit-btn"
    [disabled]="teacherForm.invalid"
  >
    Submit
  </button>
</form>

<div>
  {{ teacherForm.value | json }}
</div>
